/*{
    border: 1px solid red;
    
} */


nav{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.random-info1{
    display: flex;
}

.topofpage{
    display: flex;
    background-color: #1F2937;
    gap: 8px;
}

.heading {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
}

.img-con2{
    background-color: grey;
    width: 325px;
    height: auto;
    margin-right: 100px;
    flex-grow: 1;
}

.img-con1{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img1{
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 4px solid blue;
}

p{
    color: E5E7EB;
    font-size: 18px;
}



.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header{
    
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 8px;
}

.heading, footer {
    background-color: #1F2937;
    color: #F9FAF8
}

footer{
    text-align: center;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.call-to-action{
    background-color: #3882F6;
}

.quote{
    background-color: #E5E7EB;
}

.quote-text, .author{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}

.quote-text{
    text-align: center;
}

.author{
    text-align: end;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 15px;
    height: 40px;
    align-self: flex-start;
    flex-shrink: 1;
    width: 125px;
    margin: 8px;
}

.button2{
    border-radius: 15px;
    border: 2px solid white;
}